@model List<TestimonialVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}




<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Görsel</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
        <th>İşlem</th>
        
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialId</td>
            <td>@item.Image</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>
                <div class="btn-group mb-1">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İşlem</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Testimonial/DeleteTestimonial/@item.TestimonialId">Sil</a> <a class="dropdown-item" href="/Testimonial/UpdateTestimonial/@item.TestimonialId">Güncelle</a>
                        <a class="dropdown-item" href="#">Detay</a>

                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<a href="/Testimonial/AddTestimonial/" class="btn mb-1 btn-rounded btn-outline-warning">Yeni Referans Ekle </a>



